<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}{% if title %} — {% endif %}{{ metadata.title }}</title>
		<meta
			name="description"
			content="{{ description or metadata.description }}"
		/>
		<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<a href="#main" id="skip-link" class="visually-hidden"
			>Skip to main content</a
		>

		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>
			<nav>
				<h2 class="visually-hidden" id="top-level-navigation-menu">
					Top level navigation menu
				</h2>
				<ul class="nav">
					{% for item in navigation.items %}
					<li>
						<a
							href="{{ item.url }}"
							{{
							helpers.getLinkActiveState(item.url,
							page.url)
							|
							safe
							}}
							>{{ item.text }}</a
						>
					</li>
					{% endfor %}
				</ul>
			</nav>
		</header>

		<main id="main">{% block content %}{% endblock %}</main>

		<div class="footer-box">
			<footer>
				<p>
					[ <em>Built with <a href="https://www.11ty.dev/">Eleventy</a></em> ] [
					Read the <a href="https://github.com/In-Verse/portfolio-site">source code</a>] [
					<a href="mailto:{{ metadata.author.email }}">✉️</a> ]
				</p>
			</footer>
		</div>
		{% block scripts %}{% endblock %}
		<script src="/assets/js/hello-world.js" defer></script>
	</body>
</html>
